name: Web E2E Tests

on:
  workflow_dispatch:

jobs:
  e2e-tests:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Instalando dependencias
        run: npm install

      - name: Executando os testes
        run: npx cypress run
      
